<div class="container">
    <br>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <div class="col-md-12 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home </a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Link </a>
                    </li>
                    <li class="nav-item dropdown active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Event Needs
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href='dashboard'>All</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='/marketplace-filter '>Photography</a>
                        <a class="dropdown-item" href='/marketplace-videography'>Videography</a>
                        <a class="dropdown-item" href='/marketplace-entertainment'>Entertainment</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sort by
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Budget Low to High</a>
                          <a class="dropdown-item" href="#">Budget High to Low</a>
                          <a class="dropdown-item" href="#">Closest Date</a>
                          <a class="dropdown-item" href="#">Farthest Date</a>
                        </div>
                      </li>
                    
                  </ul>
                  
                  <form method="GET" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light " type="submit" value="Search">Search</button>
                  </form>
                </div>
              </nav>
        </div>
    </div>

    <br>
    <br>
    <% eventList.forEach(function(event){ %>
        <% if ((event.photographyBudget != null)){%> 
          <div class="row sk-package">
            <div class="col-md-3">
                <h5><%=event.eventName%></h5>
            </div>
            <div class="col-md-2">
                <h7><%=event.venueCity%>, <%=event.venueState%></h7>
            </div>
            <div class="col-md-2">
                <h7><%=event.startDateDisplay%></h7>
                <br>
                <h7><%=event.endDateDisplay%></h7>
            </div>
            <div class="col-md-2">
                <% event.vendorServiceList.forEach(function(service){ %>
                    <h7><%=service%></h7>
                <% }); %> 
            </div>
            <div class="col-md-1">
                <h5>$<%= event.photographyBudget + event.videographyBudget + event.entertainmentBudget%></h5>
            </div>
            <div class="col-md-2">
              <a class="btn btn-light btn-block mb-1" href='/view/<%=event.id%>' role="button">View   </a>
              <a class="btn btn-light btn-block mb-1" href='/view/<%=event.id%>' role="button">Bid   </a>
          </div>
        </div>
        <br>
        <br>
        <% } %> 
    <% }); %>
</div>



